{% load i18n %}
{% load static %}
<div class="row">
    <div class="col-md-12">
        {% csrf_token %}
        {% for field in form %}
            {% include "partials/base/forms/wide_form.html" %}
        {% endfor %}
    </div>
</div>