{% load i18n %}
{% load static %}
<div class="row">
    <div class="col-md-12">
        {% csrf_token %}
        <div class="generalInfo">
            {% for field in form %}
                {% if field.name in form.product_dict.fields %}
                    {% include "partials/base/forms/wide_form.html" %}
                {% endif %}
            {% endfor %}
        </div>
        <h3>{% trans "Product specification" %}</h3>
        {% for spec in form.product_dict.spec %}
            <div class="generalInfo">
                <h2>{{ spec.name }}</h2>
                {% for field in form %}
                    {% if field.name in spec.fields %}
                        {% include "partials/base/forms/wide_form.html" %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>