{% load i18n %}
{% load common_template_tags %}
{% load humanize %}
<style>
    h4 {
        margin-top: 50px;
    }
</style>
<div class="ibox float-e-margins view_details">
    <div class="ibox-title text-center"><h1>{{ instance.agreement_no }}</h1></div>
    <div class="ibox-content">
        {% include "partials/base/notif/messages.html" %}
        <h2>{% trans 'General Information' %}</h2>
        <table class="wide-table trip_info table">
            <tr>
                <td>{% trans "Agreement Number" %}:</td>
                <td class="font-bold">{{ instance.agreement_no }}</td>
                <td>{% trans "Project date" %}:</td>
                <td class="font-bold">({{ instance.project_date|date_to_jalali }})
                    &nbsp;{{ instance.project_date|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{% trans "Agreement types" %}:</td>
                <td class="font-bold">{{ instance.get_agreement_types_display }}</td>
            </tr>
            <tr>
                {% if instance.deal_type == 1 %}
                    <td>{% trans "Mine" %}:</td>
                    <td class="font-bold">{{ instance.mine }}</td>
                {% elif instance.deal_type == 2 %}
                    <td>{% trans "Ship name" %}:</td>
                    <td class="font-bold">{{ instance.ship }}</td>
                {% endif %}
                <td>{% trans "Index types" %}:</td>
                <td class="font-bold">{{ instance.index_types }}</td>
            </tr>
            <tr>
                <td>{% trans "Period" %}:</td>
                <td class="font-bold">{{ instance.period }}  {% trans "Day(s)" %}</td>
                <td>{% trans "Index Date" %}:</td>
                <td class="font-bold">
                    ({{ instance.index_date|date_to_jalali }})&nbsp;{{ instance.index_date|date:"SHORT_DATE_FORMAT" }}</td>
                <td>{% trans "Index price" %}:</td>
                <td class="font-bold">{{ instance.index_price }}</td>
            </tr>
        </table>
        <hr>
    </div>
</div>