{% load i18n %}
{% load common_template_tags %}
{% load humanize %}
<style>
    h4 {
        margin-top: 50px;
    }
</style>
<div class="ibox float-e-margins view_details">
    <div class="ibox-content">
        {% include "partials/base/notif/messages.html" %}
        <h2><i class="fa fa-file-text-o"></i>&nbsp;{{ history.get_action_display }}</h2>
        <table class="wide-table trip_info table">
            <tr>
                <td>{% trans "Date" %} :</td>
                <td class="font-bold">{{ history.date }}</td>
                <td>{% trans "User" %} :</td>
                <td class="font-bold">{{ history.user }}
                </td>
                <td>{% trans "Department" %} :</td>
                <td class="font-bold">{{ history.department }}
                </td>

            </tr>
            <tr>
                <td>{% trans 'Changed Data' %}</td>
                <td class="font-bold">{{ history.prev_data }}</td>
                {% if history.comment %}

                    <td>{% trans "Comment" %} :</td>
                    <td class="font-bold">{{ history.comment }}</td>
                {% endif %}
            </tr>
        </table>
    </div>
</div>