{% extends "deal/partials/modal_add_item_deal.html" %}
{% load staticfiles %}
{% block END_JS %}
    <script src="{% static "js/plugin/iCheck/icheck.min.js" %}"></script>
    <script>
        $(document).ready(function () {
            var $form = $('#register_form');
            $form.find(":disabled").removeAttr('disabled');

            $('button[name="save_button"]').on('click', function (e) {
                $.ajax({
                    type: $form.attr('method'),
                    url: $form.attr('action'),
                    data: $form.serialize(),
                    context: $form,
                    success: function (data, status) {
                        if (typeof data === "object") {
                            var $toast = toastr[data.status](data.msg);
                            $('#myModal').modal('hide');
                            $('.modal-content').html("");
                            $('button[name="search_filter"]').click();
                        } else {
                            $(".modal-content").html(data);
                        }
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}