{% load i18n %}
{% load static %}
{% block CONTENT %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                class="sr-only">{% trans "Close" %}</span></button>
        <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">
        {% include "partials/base/notif/messages.html" %}
        <div class="row">
            <div class="col-md-12">
                <form method="post" class="form-horizontal form-modal" enctype="multipart/form-data"
                      action="{{ request.get_full_path }}">
                    {% csrf_token %}
                    {% for field in form %}
                        {% include "partials/base/forms/wide_form.html" %}
                    {% endfor %}
                    <div class="specification" style="display: none">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-w-m btn-white" data-dismiss="modal">{% trans "Cancel" %}</button>
        <button name="save_button" type="submit"
                class="btn btn-w-m btn-primary submit-button">{% trans "Save" %}</button>
    </div>
{% endblock %}
{% block END_JS %}
    <script src="{% static "js/plugin/iCheck/icheck.min.js" %}"></script>
    {#    <script src="/static/js/forms.js"></script>#}
    <script>
        $(function () {
            $(document).on("change", "#id_saved_document", function (e) {
                var $deal_id = "{{ deal_id }}";
                var $document_id = $('#id_saved_document').val();
                var $url = "{% url 'add_document_deal_ajax' deal_id=6789 document_id=12345 %}".replace(/12345/, $document_id).replace(/6789/, $deal_id);
                $.ajax({
                    type: "GET",
                    url: $url,
                    success: function (response) {
                        $('.specification').hide().html(response.content).fadeIn(500);
                        $(".date:nth-child(1)").datepicker({
                            format: 'yyyy/mm/dd',
                            todayBtn: "linked",
                            keyboardNavigation: false,
                            forceParse: false,
                            calendarWeeks: true,
                            autoclose: true
                        });
                        $(".form-modal").attr("method", "POST");
                        $(".form-modal").attr("action", $url);
                    }
                });
                return false;
            });

            $(document).on("change", "#id_saved_product", function (e) {
                var $deal_id = "{{ deal_id }}";
                var $saved_product = $('#id_saved_product').val();
                var $url = "{% url 'ajax_add_contract' deal_id=6789 product_id=12345 %}".replace(/12345/, $saved_product).replace(/6789/, $deal_id);
                $.ajax({
                    type: "GET",
                    url: $url,
                    success: function (response) {
                        $('.specification').hide().html(response.content).fadeIn(500);
                        $(".date:nth-child(1)").datepicker({
                            format: 'yyyy/mm/dd',
                            todayBtn: "linked",
                            keyboardNavigation: false,
                            forceParse: false,
                            calendarWeeks: true,
                            autoclose: true
                        });
                        $(".form-modal").attr("method", "POST");
                        $(".form-modal").attr("action", $url);
                    }
                });
                return false;
            });

            $(document).on("change", "#id_saved_product_sgs", function (e) {
                var $deal_id = "{{ deal_id }}";
                var $saved_product_sgs = $('#id_saved_product_sgs').val();
                var $url = "{% url 'ajax_add_sgs' deal_id=6789 product_id=12345 %}".replace(/12345/, $saved_product_sgs).replace(/6789/, $deal_id);
                $.ajax({
                    type: "GET",
                    url: $url,
                    success: function (response) {
                        $('.specification').hide().html(response.content).fadeIn(500);
                        $(".form-modal").attr("method", "POST");
                        $(".form-modal").attr("action", $url);
                    }
                });
                return false;
            });

            $(document).on("change", "#id_saved_product_ciq", function (e) {
                var $deal_id = "{{ deal_id }}";
                var $saved_product_ciq = $('#id_saved_product_ciq').val();
                var $url = "{% url 'ajax_add_ciq' deal_id=6789 product_id=12345 %}".replace(/12345/, $saved_product_ciq).replace(/6789/, $deal_id);
                $.ajax({
                    type: "GET",
                    url: $url,
                    success: function (response) {
                        $('.specification').hide().html(response.content).fadeIn(500);
                        $(".form-modal").attr("method", "POST");
                        $(".form-modal").attr("action", $url);
                    }
                });
                return false;
            });

            $('button[name="save_button"]').on('click', function (e) {
                e.preventDefault();
                $('input').prop("disabled", false);
                $form = $('.form-horizontal');
                $.ajax({
                    type: $form.attr('method'),
                    url: $form.attr('action'),
                    data: $form.serialize(),
                    context: $form,
                    success: function (data, status) {
                        if (typeof data === "object") {
                            var $toast = toastr[data.status](data.msg);
                            $('#myModal').modal('hide');
                            $('.modal-content').html("");
                            $('button[name="search_filter"]').click();
                        }
                        else {
                            $specification = $('.specification').text();
                            if ($specification.trim() != "" || $specification != undefined) {
                                $('.specification').hide().html(data).fadeIn(500);
                            }
                            else {
                                $(".modal-content").html(data);
                            }
                        }
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}