{% load common_template_tags %}
{% load i18n %}
{% load humanize %}
<table class="table table-bordered">
    <thead>
    <tr class="text-center">
        <td colspan="11">
            <h3>
                {% trans "Final Invoice" %}
            </h3>
        </td>
    </tr>
    <tr>
        <td colspan="6">
            <strong>{% trans "Agreement Number" %}:</strong> {{ output.agreement_no }}</td>
        <td colspan="5">
            <strong>{% trans "Date" %}:</strong> {{ output.date|date:"d/M/Y" }}</td>
    </tr>
    <tr>
        <th>{% trans "Pile" %}</th>
        <th>{% trans "Cargo" %}</th>
        <th>{% trans "WMT" %}</th>
        <th>{% trans "MOISTURE" %}</th>
        <th>{% trans "DMT" %}</th>
        <th>{% trans "Platts($)" %}</th>
        <th>{% trans "Adjustment($)" %}</th>
        <th>{% trans "Bonus/penalty($)" %}</th>
        <th>{% trans "Demurrage" %}</th>
        <th>{% trans "Final price($)" %}</th>
        <th>{% trans "Amount($)" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for product in output.abstracts %}
        <tr class="{% if product.name == 'total' %} bolder {% endif %}">
            <td>
                {% if product.name != 'total' %}
                    {{ forloop.counter }}
                {% endif %}
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.wmt|floatformat:4|intcomma }}</td>
            <td>{{ product.moisture|floatformat:4|intcomma }}{% if product.name != 'total' %}%{% endif %}</td>
            <td>{{ product.dmt|floatformat:4|intcomma }}</td>
            <td>{{ product.platts|floatformat:2|intcomma }}</td>
            <td>{{ product.adjustment|floatformat:2|intcomma }}</td>
            <td>{{ product.bonus_penalty|floatformat:4|intcomma }}</td>
            <td>{{ product.demurrage|floatformat:4|intcomma }}</td>
            <td>{{ product.final_price|floatformat:4|intcomma }}</td>
            <td>{{ product.amount|floatformat:4|intcomma }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<table class="table table-bordered invoice-table">
    <thead>
    <tr class="text-center">
        <td colspan="4"><h3>{% trans "Platts" %}</h3></td>
    </tr>
    <tr>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Platts($)" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for platts in output.platts %}
        <tr class="{% if forloop.last or platts.date == output.index_date %}bolder{% endif %}">
            <td>{{ platts.date|to_date:"d/M/Y" }}</td>
            <td>{{ platts.platts|floatformat:4|intcomma }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<table class="table table-bordered invoice-table">
    <thead>
    <tr>
        <th>{% trans "MV" %}</th>
        <th>{{ output.vessel_name }}</th>
    </tr>
    </thead>
    <tbody>

    {% for key, value in output.platts_abs.items %}
        {% if key|in_payments %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value|floatformat:4|intcomma }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
<br>

<table class="table table-bordered invoice-table">
    <thead>
    <tr>
        <th>{% trans "MV" %}</th>
        <th>{{ output.vessel_name }}</th>
    </tr>
    </thead>
    <tbody>

    {% for key, value in output.finance.items %}
        {% if key|in_payments %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value|floatformat:4|intcomma }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
    <thead>
    <tr>
        <th>{% trans "" %}</th>
        <th>{{ output.finance.payable|floatformat:4|intcomma }}</th>
    </tr>
    </thead>
</table>

<br>

{% for product in output.tables %}
    <table class="table table-bordered invoice-table">
        <thead>
        <tr class="text-center">
            <td colspan={{ product|get_colspan }}><h3>{{ product.name }}</h3></td>
        </tr>
        </thead>
        <tbody>
        {% for rows in product.rows %}
            <tr>
                {% for col in rows %}
                    <td>{{ col|intcomma }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <td colspan="{{ product.rows|count_span_products }}"></td>
            <td class="bolder">{{ product.total|floatformat:4|intcomma }}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
{% endfor %}