{% load common_template_tags %}
{% load i18n %}
{% load humanize %}
<table class="table table-bordered">
    <thead>
    <tr class="text-center">
        <td colspan="{{ output|count_span }}">
            <h3>
                {% if output.invoice_type_id == 2 %}
                    {% trans "Provisional Invoice" %}
                {% elif output.invoice_type_id == 3 %}
                    {% trans "NOR Invoice" %}
                {% elif output.invoice_type_id == 4 %}
                    {% trans "Final Invoice" %}
                {% endif %}
            </h3>
        </td>
    </tr>
    <tr>
        <td colspan="{{ output|count_span|count_span_round:"up" }}">
            <strong>{% trans "Agreement Number" %}:</strong> {{ output.agreement_no }}</td>
        <td colspan="{{ output|count_span|count_span_round:"down" }}">
            <strong>{% trans "Date" %}:</strong> {{ output.date|date:"d/M/Y" }}</td>
    </tr>
    <tr>
        <th>{% trans "Pile" %}</th>
        <th>{% trans "Cargo" %}</th>
        <th>{% trans "SGS Dry(DMT)" %}</th>
        {% if output.invoice_type_id == 4 %}
            <th>{% trans "CIQ Dry(DMT)" %}</th>
            <th>{% trans "Difference(%)" %}</th>
            <th>{% trans "Final Dry Quantity(DMT)" %}</th>
        {% endif %}
        <th>{% trans "Platts($)" %}</th>
        <th>{% trans "Adjustment($)" %}</th>
        <th>{% trans "Bonus/penalty($)" %}</th>
        <th>{% trans "Final price($)" %}</th>
        <th>{% trans "Amount($)" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for product in output.abstracts %}
        <tr class="{% if product.name == 'total' %} bolder {% endif %}">
            <td>
                {% if product.name != 'total' %}
                    {{ forloop.counter }}
                {% endif %}
            </td>
            <td>{{ product.name }}</td>
            {% if output.invoice_type_id == 4 %}
                <td>{{ product.sgs_quantity|floatformat:4|intcomma }}</td>
                <td>{{ product.ciq_quantity|floatformat:4|intcomma }}</td>
                <td>{{ product.difference|floatformat:4|intcomma }}</td>
            {% endif %}
            <td>{{ product.final_dry|floatformat:4|intcomma }}</td>
            <td>{{ product.platts|floatformat:2|intcomma }}</td>
            <td>{{ product.adjustment|floatformat:2|intcomma }}</td>
            <td>{{ product.bonus_penalty|floatformat:4|intcomma }}</td>
            <td>{{ product.final_price|floatformat:4|intcomma }}</td>
            <td>{{ product.amount|floatformat:4|intcomma }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<table class="table table-bordered invoice-table">
    <thead>
    <tr class="text-center">
        <td colspan="4"><h3>{% trans "Platts" %}</h3></td>
    </tr>
    <tr>
        <th>{% trans "Date" %}</th>
        <th>{% trans "PR" %}</th>
        <th>{% trans "VIU" %}</th>
        <th>{% trans "Platts($)" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for platts in output.platts %}
        <tr class="{% if forloop.last or platts.date == output.index_date %}bolder{% endif %}">
            <td>{{ platts.date|to_date:"d/M/Y" }}</td>
            <td>{{ platts.pr|floatformat:4|intcomma }}</td>
            <td>{{ platts.viu|floatformat:4|intcomma }}</td>
            <td>{{ platts.platts|floatformat:4|intcomma }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<table class="table table-bordered invoice-table">
    <thead>
    <tr>
        <th>{% trans "Total(100%)" %}</th>
        <th>{{ output.finance.total|floatformat:4|intcomma }}</th>
    </tr>
    </thead>
    <tbody>

    {% for key, value in output.finance.items %}
        {% if key|in_payments %}
            <tr {% if key|is_provisional %}style="font-weight: bold;"{% endif %}>
                <td>{{ key }}</td>
                <td>{{ value|floatformat:4|intcomma }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
    <thead>
    <tr>
        <th>{% trans "Payable" %}</th>
        <th>{{ output.finance.payable|floatformat:4|intcomma }}</th>
    </tr>
    </thead>
</table>

{% for product in output.tables %}
    <table class="table table-bordered invoice-table">
        <thead>
        <tr class="text-center">
            <td colspan={{ product|get_colspan }}><h3>{{ product.name }}</h3></td>
        </tr>
        </thead>
        <tbody>
        {% for rows in product.rows %}
            <tr>
                {% for col in rows %}
                    <td>{{ col|intcomma }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <td colspan="{{ product.rows|count_span_products }}"></td>
            <td class="bolder">{{ product.total|floatformat:4|intcomma }}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
{% endfor %}