{% load common_template_tags %}
{% load i18n %}
{% load humanize %}
<table class="table table-bordered">
    <thead>
    <tr class="text-center">
        <td colspan="8">
            <h3>
                {% if output.invoice_type_id %}
                    {% trans "Proforma Invoice" %}
                {% endif %}
            </h3>
        </td>
    </tr>
    <tr>
        <td colspan="5"><strong>{% trans "Agreement Number" %}:</strong> {{ output.agreement_no }}</td>
        <td colspan="3"><strong>{% trans "Date" %}:</strong> {{ output.date|date:"d/M/Y" }}</td>
    </tr>
    <tr>
        <th>{% trans "Pile" %}</th>
        <th>{% trans "Cargo" %}</th>
        <th>{% trans "Quantity(MT)" %}</th>
        <th>{% trans "Platts($)" %}</th>
        <th>{% trans "Adjustment($)" %}</th>
        <th>{% trans "Bonus/penalty($)" %}</th>
        <th>{% trans "Final price($)" %}</th>
        <th>{% trans "Amount($)" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for product in output.abstracts %}
        <tr class="{% if product.name == 'total' %} bolder {% endif %}">
            <td>
                {% if product.name != 'total' %}
                    {{ forloop.counter }}
                {% endif %}
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.quantity|floatformat:4|intcomma }}</td>
            <td>{{ product.platts|floatformat:4|intcomma }}</td>
            <td>{{ product.adjustment|floatformat:4|intcomma }}</td>
            <td>{{ product.bonus_penalty|floatformat:4|intcomma }}</td>
            <td>{{ product.final_price|floatformat:4|intcomma }}</td>
            <td>{{ product.amount|floatformat:4|intcomma }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<table class="table table-bordered invoice-table">
    <thead>
    <tr class="text-center">
        <td colspan="4"><h3>{% trans "Platts" %}</h3></td>
    </tr>
    <tr>
        <th>{% trans "Date" %}</th>
        <th>{% trans "PR" %}</th>
        <th>{% trans "VIU" %}</th>
        <th>{% trans "Platts($)" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for platts in output.platts %}
        <tr class="{% if forloop.last or platts.date == output.index_date %}bolder{% endif %}">
            <td>{{ platts.date|date:"d/M/Y" }}</td>
            <td>{{ platts.pr|floatformat:4|intcomma }}</td>
            <td>{{ platts.viu|floatformat:4|intcomma }}</td>
            <td>{{ platts.platts|floatformat:4|intcomma }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<table class="table table-bordered invoice-table">
    <thead>
    <tr>
        <th>{% trans "Total(100%)" %}</th>
        <th>{{ output.finance.total|floatformat:4|intcomma }}</th>
    </tr>
    </thead>
    <tbody>

    {% for key, value in output.finance.items %}
        {% if key|in_payments %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value|floatformat:4|intcomma }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>