{% load i18n %}
{% load humanize %}

<div class="col-lg-12">
    <div class="vote-actions c-checkout__btn-remove">
        <a href="#" data-url="{% url 'del_account_number' account.invoice.id account.id  %}"><i class="fa fa-times"></i></a>
    </div>
    <div>
        {% trans "Please transfer" %} <strong>{{ account.price|intcomma }}{{ account.account_number.currency_unit.symbol }}</strong> {% trans "to the following account:" %}
    </div>

    <dl class="dl-horizontal">
        <dt>{% trans "Account number:" %}</dt>
        <dd>{{ account.account_number.account_number }}</dd>
        <dt>{% trans "Account name:" %}</dt>
        <dd>{{ account.account_number.account_name }}</dd>
        <dt>{% trans "SWIFT CODE:" %}</dt>
        <dd>{{ account.account_number.swift_code }}</dd>
        <dt>{% trans "BANK NAME:" %}</dt>
        <dd>{{ account.account_number.bank_name }}</dd>
        <dt>{% trans "BANK ADDRESS:" %}</dt>
        <dd>{{ account.account_number.bank_address }}</dd>
        <dt>{% trans "BANK CODE:" %}</dt>
        <dd>{{ account.account_number.bank_code }}</dd>
    </dl>
    <p>{{ account.account_number.consideration_en }}</p>
</div>