{% extends "base/base.html" %}
{% load i18n %}
{% load static %}
{% block CONTENT %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" style="direction: ltr">
                <div class="ibox-content">
                    {% include "invoice/_final_block_purchase.html" %}


                        <a target="_blank" href="{% url 'download_invoice_purchase' instance.id %}"
                           class="btn btn-w-m btn-primary">{% trans "Save and download" %}</a>
                        {#                        <a href="{% url 'delete_invoice' instance.id %}"#}
                        {#                           class="btn btn-w-m btn-danger">{% trans "Cancel" %}</a>#}
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/base/_modal.html' %}
{% endblock %}