{% if messages %}
    <ul class="messages">
        {% for msg in messages %}
            <li>
                <div class="alert alert-{% if msg.level_tag == 'error' %}danger {% elif msg.level_tag == 'success' %}success{% endif %}"
                     role="alert">
                    {{ msg.message }}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}