{% load common_template_tags %}
{% load i18n %}
{% load humanize %}
<style>
    body {
        font-family: Arial;
    }

    @page {
        size: A4;
        margin-top: 5cm;
        margin-right: 4cm;
        margin-left: 2cm;
        margin-bottom: 7cm;
    }

    table {
        border: 2px solid #000000;
        border-collapse: collapse;
    }

    table > thead > tr > td {
        border-collapse: collapse;
        border: 2px solid black;
    }

    {#invoice-table#}
    .invoice-table > thead > tr:first-child > td {
        background-color: #2f5597 !important;
        color: #ffffff;
        font-size: 16px;
        font-weight: bolder;
        text-align: center;
        border: 2px solid black;
    }

    table > thead > tr:nth-child(2) {
        background-color: #7c7c7c;
        color: #ffffff;
        font-size: 14px;
        text-align: center;
        border: 1px solid black !important;
    }

    table > thead > tr:nth-child(3) > th {
        border: 1px solid black;
        font-size: 12px;
    }

    table > thead > tr:nth-child(2) > th {
        border: 1px solid black;
        font-size: 12px;
        border-bottom: 2px solid black;
    }

    table > tbody > tr > td {
        border-collapse: collapse;
        border: 1px solid black;
        text-align: center;
    }

    table > tbody > tr > td:last-child {
        border-right: 2px solid black;
    }

    .total_row, .payable {
        font-weight: bolder;
        background-color: #d9d9d9;
        border-top: 2px solid black;
    }

    {#platts-table#}
    .platts-table > thead > tr:first-child > td {
        background-color: #595959 !important;
        color: #ffffff;
        font-size: 16px;
        font-weight: bolder;
        text-align: center;
        border: 2px solid black;
    }

    .total-table > thead > tr:first-child > th {
        background-color: #ffff00;
        border: 1px solid black;
        text-align: center;
        font-weight: bolder;
    }

    {# account number#}
    dt {
        font-weight: bold;
    }
    dl {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .dl-horizontal dd {
        margin-left: 180px;
    }
    .dl-horizontal{font-size: 14px;}
    .dl-horizontal dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .clearfix:after,.dl-horizontal dd:after{
        clear: both;
    }
    .clearfix:before, .clearfix:after,.dl-horizontal dd:before, .dl-horizontal dd:after{
        display: table;
        content: " ";
    }
    .clearfix{
        clear: both;
    display: table;
    content: " ";
    }
</style>

<table class="invoice-table" width="100%">
    <thead>
    <tr class="">
        <td colspan="8">
            {% trans "Proforma Invoice" %}
        </td>
    </tr>
    <tr>
        <td colspan="5" ><strong>{% trans "Agreement Number" %}:</strong> {{ output.agreement_no }}</td>
        <td colspan="3" ><strong>{% trans "Date" %}:</strong> {{ output.date|date:"d/M/Y" }}</td>
    </tr>
    <tr>
        <th>{% trans "Pile" %}</th>
        <th>{% trans "Cargo" %}</th>
        <th>{% trans "Quantity(MT)" %}</th>
        <th>{% trans "Platts($)" %}</th>
        <th>{% trans "Adjustment($)" %}</th>
        <th>{% trans "Bonus/penalty($)" %}</th>
        <th>{% trans "Final price($)" %}</th>
        <th>{% trans "Amount($)" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for product in output.abstracts %}
        <tr class="{% if product.name == 'total' %} total_row {% endif %}">
            <td>
                {% if product.name != 'total' %}
                    {{ forloop.counter }}
                {% endif %}
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.quantity|floatformat:4|intcomma }}</td>
            <td>{{ product.platts|floatformat:4|intcomma }}</td>
            <td>{{ product.adjustment|floatformat:4|intcomma }}</td>
            <td>{{ product.bonus_penalty|floatformat:4|intcomma }}</td>
            <td>{{ product.final_price|floatformat:4|intcomma }}</td>
            <td>{{ product.amount|floatformat:4|intcomma }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<div style="width: 50%;float: right">
    <table class="total-table" width="100%">
        <thead>
        <tr>
            <th>{% trans "Total(100%)" %}</th>
            <th>{{ output.finance.total|floatformat:4|intcomma }}</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in output.finance.items %}
            {% if key|in_payments %}
                <tr class="{% if key|is_payable %} payable {% endif %}">
                    <td>{{ key }}</td>
                    <td>{{ value|floatformat:4|intcomma }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="clearfix">
    <br>
    {% if instance.invoice_account_number %}
        {% for account in instance.invoice_account_number.all %}
            {% include "invoice/_row_account_number.html" with account=account %}
        {% endfor %}
    {% endif %}
</div>