{% load common_template_tags %}
{% load i18n %}
{% load humanize %}
<style>
    body {
        font-family: Arial;
    }

    @page {
        size: A4;
        margin-top: 5cm;
        margin-right: 3.5cm;
        margin-left: 2cm;
        margin-bottom: 7cm;
    }

    table {
        border: 2px solid #000000;
        border-collapse: collapse;
        width: 100%;
    }

    table > thead > tr > td {
        border-collapse: collapse;
        border: 2px solid black;
    }

    {#invoice-table#}
    .invoice-table > thead > tr:first-child > td {
        background-color: #2f5597 !important;
        color: #ffffff;
        font-size: 16px;
        font-weight: bolder;
        text-align: center;
        border: 2px solid black;
    }

    table > thead > tr:nth-child(2) {
        background-color: #7c7c7c;
        color: #ffffff;
        font-size: 14px;
        text-align: center;
        border: 1px solid black !important;
    }

    table > thead > tr:nth-child(3) > th {
        border: 1px solid black;
        font-size: 12px;
    }

    table > thead > tr:nth-child(2) > th {
        border: 1px solid black;
        font-size: 12px;
        border-bottom: 2px solid black;
    }

    table > tbody > tr > td {
        border-collapse: collapse;
        border: 1px solid black;
        text-align: center;
    }

    table > tbody > tr > td:last-child {
        border-right: 2px solid black;
    }

    .total_row, .payable {
        font-weight: bolder;
        background-color: #d9d9d9;
        border-top: 2px solid black;
    }

    .total-table > thead > tr:first-child > th {
        font-size: 14px !important;
    }
    {#product-table#}
    .product-table > thead > tr:first-child > td {
        color: #000000;
        font-size: 14px;
        font-weight: bolder;
        text-align: center;
        border: 2px solid black;
    }

    .product-table > tbody > tr:nth-child(1) {
        font-size: 12px;
        font-weight: bolder;
        text-align: center;
        border: 2px solid black;
        background-color: #ffffff !important;
    }

    .platts-table > tbody > tr ,
    .product-table > tbody > tr ,
    .total-table > tbody > tr {
        font-size: 12px;
    }

    .product-table > tbody > tr:not(:first-child):not(:last-child) > td:first-child {
        background-color: #d9d9d9;
        font-weight: bolder;
        border-right: 2px solid black;
    }

    .product-table > tbody > tr:first-child > td:first-child {
        border-right: 2px solid black;
    }

    .product-table > tbody > tr:last-child {
        border-top: 2px solid black;
    }

    {#platts-table#}
    .platts-table > thead > tr:first-child > td {
        background-color: #595959 !important;
        color: #ffffff;
        font-size: 16px;
        font-weight: bolder;
        text-align: center;
        border: 2px solid black;
    }

    .total-table > thead > tr:first-child > th {
        background-color: #d9d9d9;
        border: 1px solid black;
        text-align: center;
        font-weight: bolder;
    }

    {# account number#}
    dt {
        font-weight: bold;
    }

    dl {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .dl-horizontal dd {
        margin-left: 180px;
    }

    .dl-horizontal {
        font-size: 14px;
    }

    .dl-horizontal dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .clearfix:after, .dl-horizontal dd:after {
        clear: both;
    }

    .clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after {
        display: table;
        content: " ";
    }

    .clearfix {
        clear: both;
        display: table;
        content: " ";
    }

    .bolder {
        font-weight: bolder
    }

    .back_green {
        background-color: #c6efce;
        color: #006100;
    }

    .back_red {
        background-color: #ffc7ce;
        color: #ba0806;

    }
</style>
<table class="invoice-table">
    <thead>
    <tr class="text-center">
        <td colspan="11">
            <h3>
                {% trans "Final Invoice" %}
            </h3>
        </td>
    </tr>
    <tr>
        <td colspan="6">
            <strong>{% trans "Agreement Number" %}:</strong> {{ output.agreement_no }}</td>
        <td colspan="5">
            <strong>{% trans "Date" %}:</strong> {{ output.date|date:"d/M/Y" }}</td>
    </tr>
    <tr>
        <th>{% trans "Pile" %}</th>
        <th>{% trans "Cargo" %}</th>
        <th>{% trans "WMT" %}</th>
        <th>{% trans "MOISTURE" %}</th>
        <th>{% trans "DMT" %}</th>
        <th>{% trans "Platts($)" %}</th>
        <th>{% trans "Adjustment($)" %}</th>
        <th>{% trans "Bonus/penalty($)" %}</th>
        <th>{% trans "Demurrage" %}</th>
        <th>{% trans "Final price($)" %}</th>
        <th>{% trans "Amount($)" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for product in output.abstracts %}
        <tr class="{% if product.name == 'total' %} total_row {% endif %}">
            <td>
                {% if product.name != 'total' %}
                    {{ forloop.counter }}
                {% endif %}
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.wmt|floatformat:4|intcomma }}</td>
            <td>{{ product.moisture|floatformat:4|intcomma }}{% if product.name != 'total' %}%{% endif %}</td>
            <td>{{ product.dmt|floatformat:4|intcomma }}</td>
            <td>{{ product.platts|floatformat:2|intcomma }}</td>
            <td>{{ product.adjustment|floatformat:2|intcomma }}</td>
            <td>{{ product.bonus_penalty|floatformat:4|intcomma }}</td>
            <td>{{ product.demurrage|floatformat:4|intcomma }}</td>
            <td>{{ product.final_price|floatformat:4|intcomma }}</td>
            <td>{{ product.amount|floatformat:4|intcomma }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<div style="width: 50%;float: left">
    {% for product in output.tables %}
        <table class="product-table">
            <thead>
            <tr class="text-center">
                <td colspan={{ product|get_colspan }}>{{ product.name }}</td>
            </tr>
            </thead>
            <tbody>
            {% for rows in product.rows %}
                <tr>
                    {% for col in rows %}
                        <td>{{ col|intcomma }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <td colspan="{{ product.rows|count_span_products }}"></td>
                <td class="bolder {% if product.total > 0 %} back_green {% else %} back_red {% endif %}">{{ product.total|floatformat:4|intcomma }}</td>
            </tr>
            </tbody>
        </table>
        <br>
    {% endfor %}
</div>
<div style="width: 5%;float: left"></div>
<div style="width: 45%;float: right;">
    <table class="total-table">
        <thead>
        <tr>
            <th>{% trans "MV" %}</th>
            <th>{{ output.vessel_name }}</th>
        </tr>
        </thead>
        <tbody>

        {% for key, value in output.platts_abs.items %}
            {% if key|in_payments %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value|floatformat:4|intcomma }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <br>

    <table class="total-table">
        <thead>
        <tr>
            <th>{% trans "MV" %}</th>
            <th>{{ output.vessel_name }}</th>
        </tr>
        </thead>
        <tbody>

        {% for key, value in output.finance.items %}
            {% if key|in_payments %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value|floatformat:4|intcomma }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
        <thead>
        <tr>
            <th>{% trans "" %}</th>
            <th>{{ output.finance.payable|floatformat:4|intcomma }}</th>
        </tr>
        </thead>
    </table>
    <br>
    <table class="platts-table">
        <thead>
        <tr>
            <td colspan="4">{% trans "Platts" %}</td>
        </tr>
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Platts($)" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for platts in output.platts %}
            <tr class="{% if forloop.last or platts.date == output.index_date %}bolder{% endif %}">
                <td>{{ platts.date|to_date:"d/M/Y" }}</td>
                <td>{{ platts.platts|floatformat:4|intcomma }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
