{% load i18n %}
{% load static %}
{% load common_template_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% trans "Nikoo" %} | {% block TITLE %}{{ title }}{% endblock %}</title>
    {% block MAIN_CSS %}
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "css/plugin/jQueryUI/jquery-ui.css" %}" rel="stylesheet">
{#        <link href="{% static "css/bootstrap-rtl.css" %}" rel="stylesheet">#}
{#        <link href="{% static "css/font-IRANSans.css" %}" rel="stylesheet">#}
        <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
        <link href="{% static "css/plugin/toastr/toastr.min.css" %}" rel="stylesheet">
        <link href="{% static "css/plugin/sweetalert/sweetalert.css" %}" rel="stylesheet">
        <link href="{% static "css/plugin/datapicker/datepicker3.css" %}" rel="stylesheet">
        {#        <link href="{% static "css/plugin/jalaliDatepicker/bootstrap-datepicker.min.css" %}" rel="stylesheet">#}
        <link href="{% static "css/animate.css" %}" rel="stylesheet">
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <link href="{% static "css/override.css" %}" rel="stylesheet">
        {#        <link href="{% static "css/datepicker_override.css" %}" rel="stylesheet">#}

    {% endblock %}
    {% block MIDDLE_CSS %}
    {% endblock %}
    {% block BOTTOM_CSS %}
    {% endblock %}
    {% block TOP_JS %}
        <script src="{% static "js/jquery-2.1.1.js" %}"></script>
        <script src="{% static "js/csrf.js" %}"></script>
    {% endblock %}
</head>
{#<body class="rtls skin-3  pace-done">#}
<body class="skin-3  pace-done">
<div id="wrapper">
    {% include "partials/base/_right_menu.html" %}

    <div id="page-wrapper" class="gray-bg dashbard-1">
        {% include "partials/base/_nav_top.html" %}
        {% include "partials/base/_sitemap.html" %}
        <div class="wrapper wrapper-content animated fadeInRight">
            {% block CONTENT %}{% endblock %}
        </div>
        {% include "partials/base/_footer.html" %}
    </div>
</div>

{% block JS %}
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/plugin/metisMenu/jquery.metisMenu.js" %}"></script>
    <script src="{% static "js/plugin/slimscroll/jquery.slimscroll.js" %}"></script>
    <script src="{% static "js/inspinia.js" %}"></script>
    <script src="{% static "js/plugin/pace/pace.min.js" %}"></script>
    <script src="{% static "js/plugin/jquery-ui/jquery-ui.min.js" %}"></script>

    <script src="{% static "js/plugin/dataTables/datatables.min.js" %}"></script>
    <script src="{% static "js/plugin/toastr/toastr.min.js" %}"></script>
    <script src="{% static "js/plugin/sweetalert/sweetalert.min.js" %}"></script>
    {% if jalali_date_picker|is_true %}
        <script src="{% static "js/plugin/jalaliDatepicker/bootstrap-datepicker.min.js" %}"></script>
        <script src="{% static "js/plugin/jalaliDatepicker/bootstrap-datepicker.fa.min.js" %}"></script>
    {% else %}
        <script src="{% static "js/plugin/datapicker/bootstrap-datepicker.js" %}"></script>
    {% endif %}

{% endblock %}
{% block BOTTOM_JS %}
    <script>

    </script>
{% endblock %}
</body>
</html>