{% extends "base/base.html" %}
{% load i18n %}
{% block CONTENT %}
    <div class="col-md-12 mn-content">
        <h1>401</h1>
        <h3 class="font-bold">{% trans "Permission denied error" %}</h3>
    </div>
{% endblock %}