{% extends "partials/base/forms/add_form.html" %}
{% load static %}
{% block BOTTOM_CSS %}
        {{ block.super }}
    <link href="{% static "css/plugin/select2/select2.min.css" %}" rel="stylesheet">
{% endblock %}
{% block BOTTOM_JS %}
    {{ block.super }}
        <script src="{% static "js/plugin/select2/select2.full.min.js" %}"></script>
    <script src="{% static "js/profile.js" %}"></script>
{% endblock %}


