{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% trans "Nikoo" %} | {% block TITLE %}{{ title }}{% endblock %}</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
{#    <link href="{% static "css/bootstrap-rtl.css" %}" rel="stylesheet">#}
{#    <link href="{% static "css/font-IRANSans.css" %}" rel="stylesheet">#}
    <link href="{% static "css/animate.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/override.css" %}" rel="stylesheet">
    <link href="{% static "css/login.css" %}" rel="stylesheet">

</head>
{#<body class="rtls skin-3">#}
<body class="skin-3">
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <img src="/static/img/nikoo-new23.png" width="300px" alt="">
        </div>
        <h3>{% trans "Welcome to Nikoo" %}</h3>
        <form class="m-t login_form" role="form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {% include "partials/base/notif/messages.html" %}
            {% if error_message %}
                <div class="alert alert-danger">
                    {{ error_message }}
                </div>
            {% endif %}
            <div class="form-group">
                <input type="text" id="id_username" name="username" value="" size="50" class="form-control"
                       placeholder="{% trans "Username" %}"/>
            </div>
            <div class="form-group">
                <input type="password" id="id_password" name="password" value="" size="50" class="form-control"
                       placeholder="{% trans "Password" %}"/>
            </div>
            <input type="hidden" name="next" value="{{ next }}"/>
            <input type="submit" value="{% trans "Login" %}" class="btn btn-info block full-width m-b"/>
        </form>

    </div>
</div>
<footer class="text-center">
    <p><span class="font-bold">{% trans "Copyright" %} {% trans "Nikoo &copy; 2019" %}</span><br/>
        {% trans "All rights reserved. This site is owned by Nikoo Trading Company." %}</p>
</footer>


{% block JS %}
    <script src="{% static "js/jquery-2.1.1.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/plugin/metisMenu/jquery.metisMenu.js" %}"></script>
    <script src="{% static "js/plugin/slimscroll/jquery.slimscroll.js" %}"></script>
    <script src="{% static "js/inspinia.js" %}"></script>
    <script src="{% static "js/plugin/pace/pace.min.js" %}"></script>
{% endblock %}
{% block BOTTOM_JS %}{% endblock %}

</body>
</html>