{% extends "base/base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block BOTTOM_CSS %}
    <link href="{% static "css/plugin/select2/select2.min.css" %}" rel="stylesheet">
    <link href="{% static "css/plugin/iCheck/custom.css" %}" rel="stylesheet">
{% endblock %}
{% block CONTENT %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ title }}</h5>
                </div>
                <div class="ibox-content">
                    {% include "partials/base/notif/messages.html" %}
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" class="form-horizontal" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="generalInfo">
                                    <h3>{% trans "General Information" %}</h3>
                                    {% for field in form %}
                                        {% if field.name in form.layout_general %}
                                            {% include "partials/base/forms/wide_form.html" %}
                                        {% endif %}
                                    {% endfor %}

                                    <div class="row">
                                        <label for="" class="col-sm-2 control-label"> Step 1
                                        <span class="required_field">*</span></label>
                                        <div class="col-md-3">
                                            <div class="form-group" id="data_1">
                                                <label class="font-noraml">{{ form.from_step1.label }}</label>
                                                <div class="input-group ">
                                                    {{ form.from_step1|add_class:"form-control" }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" id="data_1">
                                                <label class="font-noraml">{{ form.viu_step1.label }}</label>
                                                <div class="input-group ">
                                                    {{ form.viu_step1|add_class:"form-control" }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="" class="col-sm-2 control-label"> Step 2
                                        <span class="required_field">*</span></label>
                                        <div class="col-md-3">
                                            <div class="form-group" id="data_1">
                                                <label class="font-noraml">{{ form.from_step2.label }}</label>
                                                <div class="input-group ">
                                                    {{ form.from_step2|add_class:"form-control" }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" id="data_1">
                                                <label class="font-noraml">{{ form.to_step2.label }}</label>
                                                <div class="input-group ">
                                                    {{ form.to_step2|add_class:"form-control" }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group" id="data_1">
                                                <label class="font-noraml">{{ form.viu_step2.label }}</label>
                                                <div class="input-group ">
                                                    {{ form.viu_step2|add_class:"form-control" }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="" class="col-sm-2 control-label"> Step 3
                                        <span class="required_field">*</span></label>
                                        <div class="col-md-3">
                                            <div class="form-group" id="data_1">
                                                <label class="font-noraml">{{ form.from_step3.label }}</label>
                                                <div class="input-group ">
                                                    {{ form.from_step3|add_class:"form-control" }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" id="data_1">
                                                <label class="font-noraml">{{ form.to_step3.label }}</label>
                                                <div class="input-group ">
                                                    {{ form.to_step3|add_class:"form-control" }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group" id="data_1">
                                                <label class="font-noraml">{{ form.viu_step3.label }}</label>
                                                <div class="input-group ">
                                                    {{ form.viu_step3|add_class:"form-control" }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="" class="col-sm-2 control-label"> Step 4
                                        <span class="required_field">*</span></label>
                                        <div class="col-md-3">
                                            <div class="form-group" id="data_1">
                                                <label class="font-noraml">{{ form.from_step4.label }}</label>
                                                <div class="input-group ">
                                                    {{ form.from_step4|add_class:"form-control" }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" id="data_1">
                                                <label class="font-noraml">{{ form.viu_step4.label }}</label>
                                                <div class="input-group ">
                                                    {{ form.viu_step4|add_class:"form-control" }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="button_holder">
                                    <button type="submit" class="btn btn-w-m btn-primary">{% trans "Save" %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block BOTTOM_JS %}
    <script src="{% static "js/plugin/select2/select2.full.min.js" %}"></script>
    <script src="{% static "js/plugin/iCheck/icheck.min.js" %}"></script>
    <script src="{% static "js/forms.js" %}"></script>
    <script src="{% static "js/deal.js" %}"></script>
    <script>
        $(document).ready(function () {
            $("#id_project_date").on('change', function (e) {
                $("#id_index_date").val($(this).val());
            });

            $('#id_index_types,#id_period,#id_index_date').on('change', function (e) {
                index_price();
            });
        });
    </script>
{% endblock %}