{% extends "base/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load staticfiles %}
{% load common_template_tags %}
{% load humanize %}
{% block title %}{{ title }}{% endblock %}
{% block CSS %}
    {{ block.super }}
{% endblock %}
{% block CONTENT %}
    <div class="row">
        <div class="col-lg-2" style="">
            <table class="wide-table table btn-action">
                <tr>
                    <td><h2 style="text-align: center;font-size: 21px;">{% trans "Agreement Number" %}: <span
                            style="font-size:17px;"> {{ instance.agreement_no }}</span></h2></td>
                </tr>
                <tr>
                    <td>
                        <h3 style="font-weight: lighter; text-align: center;line-height: 1.5em;">{% trans 'Agreement registraion' %}:
                            <br> {{ instance.created_date | naturaltime }}</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3 style="font-weight: lighter; text-align: center;line-height: 1.5em;">{% trans 'Agreement State' %}:
                            <br> {{ instance.get_state_display }}</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="min-height: 0px;"></div>
                    </td>
                </tr>
                {% if primary_btn %}
                    <tr>
                        <td>
                            <div style="min-height: 0px;"></div>
                        </td>
                    </tr>
                    {% for action in primary_btn %}
                        <tr>
                            <td>
                                <a class="btn btn-w-m action-button {{ action.btn_type }} vertical-btn"
                                   new_tab="{{ action.new_tab }}" is_view="True"
                                   is_popup="{{ action.is_popup }}" url_address="{{ action.url_address }}"
                                   spec_url="{{ action.spec_url }}" id="action_{{ action.btn_id }}"
                                   confirm_message="{{ action.swal_title }}" help_message="{{ action.swal_content }}"
                                   name="action_{{ action.name }}">{{ action.title }}{% if action.icon %}
                                    <i class="fa {{ action.icon }}"></i>{% endif %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
        <div class="col-lg-10">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1">{% trans "Agreement" %}</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-2">{% trans "Invoice" %}</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3">{% trans "Documents" %}</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-4">{% trans "Bill Slip" %}</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-5">{% trans "Workflow" %}</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-6">{% trans "History" %}</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            {% include 'deal/partials/_block_view.html'  with instance=instance %}
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane ">
                        <div class="panel-body">
                            {% for ins in invoices %}
                                {% include 'deal/partials/_block_view.html'  with instance=ins %}
                            {% endfor %}
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane ">
                        <div class="panel-body">
                            {% for key,value in documents.items %}
                                {% include 'deal/_document_view.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div id="tab-4" class="tab-pane ">
                        <div class="panel-body">
                            {% for bill in instance.deal_bill_slip.all %}
                                {% include 'deal/_bill_slip_view.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div id="tab-5" class="tab-pane ">
                        <div class="panel-body">
                            {% for workflow in instance.worflow_deal.all %}
                                {% include 'deal/_workflow_view.html' with instance=instance %}
                            {% endfor %}
                        </div>
                    </div>
                    <div id="tab-6" class="tab-pane ">
                        <div class="panel-body">
                            {% for history in instance.history_deal.all %}
                                {% include 'deal/partials/_history_view.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/base/_modal.html' %}
{% endblock %}
{% block BOTTOM_JS %}
    {{ block.super }}
    <script src="{% static "js/deal.js" %}"></script>

    <script>
        $(document).ready(function () {
            $('.action-button').on('click', function (e) {
                action_click($(this));
            });
        });
    </script>
{% endblock %}