{% load i18n %}
{% load account_template_tags %}
{% load common_template_tags %}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                        <span>
                            <img alt="image" class="img-circle" src="{% get_avatar_user request.user %}"
                                 height="100px"/>
                        </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{ request.user.full_name }}</strong>
                                </span>
                            </span>
                    </a>
                </div>
                <div class="logo-element">NKO</div>
            </li>
            <li class="{% if request.path|actions == 'edit_profile' %}active {% endif %}">
                <a href="{% url 'edit_profile' %}"><i class="fa fa-user"></i> <span
                        class="nav-label">{% trans "Edit profile" %}</span></a>
            </li>


            <li class="{% if request.path|actions == 'add_purchase' or  manager.manager_name == 'purchase_working' or manager.manager_name == 'purchase_done'  or  manager.manager_name == 'mine' %}active{% endif %}">
                <a href="#"><i class="fa fa-ioxhost"></i> <span class="nav-label">{% trans "Purchase" %}</span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" style="height: 0px;">
                    <li class="{% if request.path|actions == 'add_purchase' %}active {% endif %}">
                        <a href="{% url 'add_purchase' %}"><i class="fa fa-gift"></i> <span
                                class="nav-label">{% trans "Purchase add" %}</span></a>
                    </li>
                    <li class="{% if manager.manager_name == 'purchase_working' %}active{% endif %}">
                        <a href="{% url 'process_main_page_purchase_working' %}"><i class="fa fa-gift"></i> <span
                                class="nav-label">{% trans "Current Purchase" %}</span></a>
                    </li>
                    <li class="{% if manager.manager_name == 'purchase_done' %}active{% endif %}">
                        <a href="{% url 'process_main_page_purchase_done' %}"><i class="fa fa-gift"></i> <span
                                class="nav-label">{% trans "Completed Purchase" %}</span></a>
                    </li>
                    <li class="{% if manager.manager_name == 'mine' %}active{% endif %}">
                        <a href="{% url 'process_main_page_mine' %}"><i class="fa fa-flag"></i> <span
                                class="nav-label">{% trans "mine" %}</span></a>
                    </li>
                </ul>
            </li>

            <li class="{% if request.path|actions == 'add_sell' or  manager.manager_name == 'sell_working' or manager.manager_name == 'sell_done'  or  manager.manager_name == 'ship' %}active{% endif %}">
                <a href="#"><i class="fa fa-ioxhost"></i> <span class="nav-label">{% trans "Sell" %}</span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" style="height: 0px;">
                    <li class="{% if request.path|actions == 'add_sell' %}active {% endif %}">
                        <a href="{% url 'add_sell' %}"><i class="fa fa-gift"></i> <span
                                class="nav-label">{% trans "Sell add" %}</span></a>
                    </li>
                    <li class="{% if manager.manager_name == 'sell_working' %}active{% endif %}">
                        <a href="{% url 'process_main_page_sell_working' %}"><i class="fa fa-gift"></i> <span
                                class="nav-label">{% trans "Current Sell" %}</span></a>
                    </li>
                    <li class="{% if manager.manager_name == 'sell_done' %}active{% endif %}">
                        <a href="{% url 'process_main_page_sell_done' %}"><i class="fa fa-gift"></i> <span
                                class="nav-label">{% trans "Completed Sell" %}</span></a>
                    </li>
                    <li class="{% if manager.manager_name == 'ship' %}active{% endif %}">
                        <a href="{% url 'process_main_page_ship' %}"><i class="fa fa-flag"></i> <span
                                class="nav-label">{% trans "Ship" %}</span></a>
                    </li>
                </ul>
            </li>

            <li class="{% if manager.manager_name == 'reference' %}active{% endif %}">
                <a href="{% url 'process_main_page_reference' %}"><i class="fa fa-dollar"></i> <span
                        class="nav-label">{% trans "Reference" %}</span></a>
            </li>
            <li class="{% if manager.manager_name == 'my_company' %}active {% endif %}">
                <a href="{% url 'process_main_page_my_company' %}"><i class="fa fa-building"></i> <span
                        class="nav-label">{% trans "My Company" %}</span></a>
            </li>

            <li class="{% if manager.manager_name == 'document' %}active{% endif %}">
                <a href="{% url 'process_main_page_document' %}"><i class="fa fa-file"></i> <span
                        class="nav-label">{% trans "Documents" %}</span></a>
            </li>
            <li class="{% if manager.manager_name == 'cost' %}active{% endif %}">
                <a href="{% url 'process_main_page_cost' %}"><i class="fa fa-ge"></i> <span
                        class="nav-label">{% trans "Costs" %}</span></a>
            </li>

            <li class="{% if manager.manager_name == 'currency' %}active{% endif %}">
                <a href="{% url 'process_main_page_currency' %}"><i class="fa fa-user"></i> <span
                        class="nav-label">{% trans "Currency Definition" %}</span></a>
            </li>

            <li class="{% if manager.manager_name == 'currency_rate' %}active{% endif %}">
                <a href="{% url 'process_main_page_currency_rate' %}"><i class="fa fa-plus-square"></i> <span
                        class="nav-label">{% trans "Currency Rate" %}</span></a>
            </li>

            <li class="{% if manager.manager_name == 'account_number' %}active{% endif %}">
                <a href="{% url 'process_main_page_account_number' %}"><i class="fa fa-ge"></i> <span
                        class="nav-label">{% trans "Account Number" %}</span></a>
            </li>

            <li class="{% if manager.manager_name == 'product' %}active{% endif %}">
                <a href="{% url 'process_main_page_product' %}"><i class="fa fa-recycle"></i> <span
                        class="nav-label">{% trans "Products" %}</span></a>
            </li>
            <li class="{% if manager.manager_name == 'price' %}active{% endif %}">
                <a href="{% url 'process_main_page_price' %}"><i class="fa fa-dollar"></i> <span
                        class="nav-label">{% trans "Prices" %}</span></a>
            </li>
            <li class="{% if manager.manager_name == 'user' or  manager.manager_name == 'role' or manager.manager_name == 'department' %}active{% endif %}">
                <a href="#"><i class="fa fa-users"></i> <span class="nav-label">{% trans "Users" %}</span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" style="height: 0px;">
                    <li class="{% if manager.manager_name == 'user' %}active{% endif %}">
                        <a href="{% url 'process_main_page_user' %}"><i class="fa fa-user"></i> <span
                                class="nav-label">{% trans "Staff" %}</span></a>
                    </li>
                    <li class="{% if manager.manager_name == 'department' %}active{% endif %}">
                        <a href="{% url 'process_main_page_department' %}"><i class="fa fa-ge"></i> <span
                                class="nav-label">{% trans "Department Manager" %}</span></a>
                    </li>
                    <li class="{% if manager.manager_name == 'role' %}active{% endif %}">
                        <a href="{% url 'process_main_page_role' %}"><i class="fa fa-plus-square"></i> <span
                                class="nav-label">{% trans "Roles" %}</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>