{% load i18n %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>
            {% if manager.manager_title %}
                {{ manager.manager_title }}
            {% else %}
                {{ title }}
            {% endif %}
        </h2>
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'dashboard' %}">{% trans "Home page" %}</a>
            </li>
            {% for item in sitemap_items %}
                <li class="{% if forloop.last %}active{% endif %}">
                    {% if item.url %}
                        <a href="{{ item.url }}">{{ item.name }}</a>
                    {% else %}
                        {{ item.name }}
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </div>
    <div class="col-lg-3">
    </div>
</div>