{% extends "base/base.html" %}
{% load i18n %}
{% load static %}
{% block BOTTOM_CSS %}
{#    <link href="{% static "css/plugin/select2/select2.min.css" %}" rel="stylesheet">#}
    <link href="{% static "css/plugin/iCheck/custom.css" %}" rel="stylesheet">
{% endblock %}
{% block CONTENT %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ title }}</h5>
                </div>
                <div class="ibox-content">
                    {% include "partials/base/notif/messages.html" %}
                    <div class="row">
                    <div class="col-md-12">
                        <form method="post" class="form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}
                            {% for field in form %}
                                {% include "partials/base/forms/wide_form.html" %}
                            {% endfor %}
                        <div class="button_holder">
                            <button type="submit" class="btn btn-w-m btn-primary">{% trans "Save" %}</button>
                        </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block BOTTOM_JS %}
{#    <script src="{% static "js/plugin/select2/select2.full.min.js" %}"></script>#}
    <script src="{% static "js/plugin/iCheck/icheck.min.js" %}"></script>
    <script src="{% static "js/forms.js" %}"></script>
{% endblock %}