{% extends "base/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}
{% load common_template_tags %}
{% block BOTTOM_CSS %}
    {{ block.super }}
        <link href="{% static "css/plugin/select2/select2.min.css" %}" rel="stylesheet">
    <link href="{% static "css/plugin/iCheck/custom.css" %}" rel="stylesheet">
    <link href="{% static "css/plugin/formset/formset.css" %}" rel="stylesheet">
    <link href="{% static "css/plugin/datapicker/datepicker3.css" %}" rel="stylesheet">
    <link href="{% static "css/plugin/jalaliDatepicker/bootstrap-datepicker.min.css" %}" rel="stylesheet">
    <link href="{% static "css/datepicker_override.css" %}" rel="stylesheet">
{% endblock %}
{% block CONTENT %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ title }}</h5>
                </div>
                <div class="ibox-content">
                    {% include "partials/base/notif/messages.html" %}
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" class="form-horizontal" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in form %}
                                    {% include "partials/base/forms/wide_form.html" %}
                                {% endfor %}
                                {{ formset.management_form }}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">{{ title_formset }}</label>
                                    <table class="form" id="id_formset_table">
                                        {% for form1 in formset.forms %}
                                            {% if forloop.first %}
                                                <thead>
                                                <tr>
                                                    {% for field in form1.visible_fields %}
                                                        <th>{{ field.label|capfirst }}</th>
                                                    {% endfor %}
                                                </tr>
                                                </thead>
                                            {% endif %}
                                            <tr class=" url-formset" id="{{ form1.prefix }}-row">
                                                {% for field in form1.visible_fields %}
                                                    <td align="right" valign="top">
                                                        {% if forloop.first %}
                                                            {% for hidden in form1.hidden_fields %}
                                                                {{ hidden }}
                                                            {% endfor %}
                                                        {% endif %}
                                                        {{ field.errors.as_ul }}
                                                        {{ field|add_class:"form-control" }}
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <div class="button_holder">
                                    <button type="submit" class="btn btn-w-m btn-primary">{% trans "Save" %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block BOTTOM_JS %}
    {{ block.super }}
        <script src="{% static "js/plugin/select2/select2.full.min.js" %}"></script>
    <script src="{% static "js/plugin/iCheck/icheck.min.js" %}"></script>
    {% if jalali_date_picker|is_true %}
        <script src="{% static "js/plugin/jalaliDatepicker/bootstrap-datepicker.min.js" %}"></script>
        <script src="{% static "js/plugin/jalaliDatepicker/bootstrap-datepicker.fa.min.js" %}"></script>
    {% else %}
        <script src="{% static "js/plugin/datapicker/bootstrap-datepicker.js" %}"></script>
    {% endif %}
    <script src="{% static "js/forms.js" %}"></script>
    <script src="{% static "js/plugin/formset/jquery.formset.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('#id_formset_table tbody tr').formset({
                formCssClass: 'formset',
                prefix: "{{ formset.prefix }}",
                addText: '<i class="fa fa-plus-circle"></i>',
                deleteText: '<i class="fa fa-trash"></i>',
                added: function (row) {
                    {#                    row.find('.combo_select2').select2();#}
                }
            });
        });
    </script>
{% endblock %}