{% load i18n %}
{% load widget_tweaks %}
{% load static %}
{% load common_template_tags %}
{% block BOTTOM_CSS %}
    <link href="{% static "css/plugin/iCheck/custom.css" %}" rel="stylesheet">
    <link href="{% static "css/plugin/formset/formset.css" %}" rel="stylesheet">
    <link href="{% static "css/plugin/datapicker/datepicker3.css" %}" rel="stylesheet">
    <link href="{% static "css/plugin/jalaliDatepicker/bootstrap-datepicker.min.css" %}" rel="stylesheet">
    <link href="{% static "css/datepicker_override.css" %}" rel="stylesheet">
{% endblock %}
{% block CONTENT %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                class="sr-only">{% trans "Close" %}</span></button>
        <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">
        {% include "partials/base/notif/messages.html" %}
        <div class="row">
            <div class="col-md-12">
                <form method="post" class="form-horizontal form-modal" enctype="multipart/form-data"
                      action="{{ request.get_full_path }}">
                    {% csrf_token %}
                    {% for field in form %}
                        {% include "partials/base/forms/wide_form.html" %}
                    {% endfor %}
                    {{ formset.management_form }}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ title_formset }}</label>
                        <table class="form" id="id_formset_table">
                            {% for form1 in formset.forms %}
                                {% if forloop.first %}
                                    <thead>
                                    <tr>
                                        {% for field in form1.visible_fields %}
                                            <th>{{ field.label|capfirst }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                {% endif %}
                                <tr class=" url-formset" id="{{ form1.prefix }}-row">
                                    {% for field in form1.visible_fields %}
                                        <td align="right" valign="top">
                                            {% if forloop.first %}
                                                {% for hidden in form1.hidden_fields %}
                                                    {{ hidden }}
                                                {% endfor %}
                                            {% endif %}
                                            {{ field.errors.as_ul }}
                                            {{ field|add_class:"form-control" }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-w-m btn-white" data-dismiss="modal">{% trans "Cancel" %}</button>
        <button type="submit" class="btn btn-w-m btn-primary submit-button">{% trans "Save" %}</button>
    </div>
{% endblock %}

{% block BOTTOM_JS %}
    <script src="{% static "js/jquery-2.1.1.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/plugin/iCheck/icheck.min.js" %}"></script>
    {% if jalali_date_picker|is_true %}
        <script src="{% static "js/plugin/jalaliDatepicker/bootstrap-datepicker.min.js" %}"></script>
        <script src="{% static "js/plugin/jalaliDatepicker/bootstrap-datepicker.fa.min.js" %}"></script>
    {% else %}
        <script src="{% static "js/plugin/datapicker/bootstrap-datepicker.js" %}"></script>
    {% endif %}
    <script src="{% static "js/plugin/formset/jquery.formset.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('#id_formset_table tbody tr').formset({
                formCssClass: 'formset',
                prefix: "{{ formset.prefix }}",
                addText: '<i class="fa fa-plus-circle"></i>',
                deleteText: '<i class="fa fa-trash"></i>',
                added: function (row) {
                    {#                    row.find('.combo_select2').select2();#}
                }
            });

            $("#register_form").submit(function () {
        $("#register_form").find(":disabled").removeAttr('disabled');
    });

    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green'
    });

    $('.input-group.date').datepicker({
        format: 'yyyy/mm/dd',
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });

    $('.jalali_date input').datepicker({
        dateFormat: 'yy/mm/dd',
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true
    });
        });
    </script>
{% endblock %}