{% load i18n %}
{% load static %}

{% block CONTENT %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                class="sr-only">{% trans "Close" %}</span></button>
        <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">
        {% include "partials/base/notif/messages.html" %}
        <div class="row">
            <div class="col-md-12">
                <form method="post" class="form-horizontal form-modal" enctype="multipart/form-data"
                      action="{{ request.get_full_path }}">
                    {% csrf_token %}
                    {% for field in form %}
                        {% include "partials/base/forms/wide_form.html" %}
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-w-m btn-white" data-dismiss="modal">{% trans "Cancel" %}</button>
        <button name="save_button" type="submit"
                class="btn btn-w-m btn-primary submit-button">{% trans "Save" %}</button>
    </div>
{% endblock %}
{% block END_JS %}
<script src="/static/js/forms.js"></script>
<script>
    $(function () {
        $('button[name="save_button"]').on('click', function (e) {
            e.preventDefault();
            $('input').prop("disabled", false);
            $(this).submit();
        });
    });
</script>
{% endblock %}