.ui-datepicker{
    z-index: 1000 !important;
}

.ui-datepicker-calendar .ui-state-default{
    border: none;
}

.ui-datepicker-header .ui-datepicker-title{
    font-weight: normal !important;
}

.icon-circle-arrow-left {
    background-position: -264px -144px;
}
[class^="icon-"], [class*=" icon-"] {
    background-image: url("/static/css/date_picker/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}

.ui-widget-header{
    border: inherit;
}

.ui-datepicker-header{
    background-color: white;
    border-bottom: none;
}

.ui-datepicker-today a{
    background-color: #a8e2a9 !important;
}