body.skin-3{
    background: url(/static/img/bg_3.png) no-repeat center center fixed transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    zoom: 1;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}