.middle-box h1 {
    font-size: 54px !important;
}

.logo-name {
    letter-spacing: 0px !important;
}
.required_field {
    color: red;
    font-size: 12px;
    vertical-align: top;
}
.float-e-margins .btn {
     margin-bottom: 0px !important;
}
.btn-info {
    background-color: #59003c;
    border-color:#59003c;
    color: #FFFFFF;
    transition: all .5s;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info, .btn-info:active:focus, .btn-info:active:hover, .btn-info.active:hover, .btn-info.active:focus {
    background-color: #780151;
    border-color: #780151;
    color: #FFFFFF;
}
/*.metismenu .arrow{*/
    /*float:left;*/
/*}*/

.btn-primary {
    background-color: #3e2c42;
    border-color: #38283c;
    color: #FFFFFF;
    transition: all .5s;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:hover, .btn-primary.active:focus {
    background-color: #ffffff;
    border-color: #38283c;
    color: #38283c;
}

.btn-primary.btn-outline:hover, .btn-success.btn-outline:hover, .btn-info.btn-outline:hover, .btn-warning.btn-outline:hover, .btn-danger.btn-outline:hover {
    color: #38283c;
}
.btn-primary.btn-outline {
    color: #ffffff;
}
.nav > li > a i {
    margin-left: 6px;
}

.pace .pace-progress {
    background: #3e2c42;}

.purple-bg {
    background-color: #3e2c42;
    color: #ffffff;
}

.grey-bg{
    background-color: #d4d4d4;
}
.btn-action a{
      min-width: 225px;
    /*margin-right: 13%;*/
}
.btn-action i{
    margin-left:3px;
    vertical-align: middle;
}
.btn-action.table > tr > td{
    border:none;
}
.generalInfo{
         background-color: #f4f6fa;
    padding: 36px;
    margin: 10px 0 !important;
    color: #3e2b42;
}
.sgsInfo{
    background-color: #f4f6fa;
    padding: 36px;
    margin: 10px 0 !important;
    color: #3e2b42;
}
.specInfo{
        background-color: #f4f6fa;
    padding: 36px;
    margin: 10px 0 !important;
    color: #3e2b42;
}
.costInfo{
        background-color: #f4f6fa;
    padding: 36px;
    margin: 10px 0 !important;
    color: #3e2b42;
}
.peymentInfo{
        background-color: #f4f6fa;
    padding: 36px;
    margin: 10px 0 !important;
    color: #3e2b42;
}
.attachedFile{
    background-color: #f4f6fa;
    padding: 36px;
    margin: 10px 0 !important;
    color: #3e2b42;
}
.peymentCond{
        background-color: #f4f6fa;
    padding: 36px;
    margin: 10px 0 !important;
    color: #3e2b42;
}
.nav-third-level li a {
    padding-right: 62px !important;
}


.nav-tabs > li > a {
    margin-left: auto;
    margin-right: auto !important;
}

ol.breadcrumb li.active{
        color: #ecba52;
    font-weight: bold;
}
ul.messages{
    list-style: none;
    padding-right: 0px !important;
}
#lump h5{
    background: #dee1e6;
    margin-top: 22px;
}
#fine h5{
    background: #dee1e6;
    margin-top: 12px;
}
.button_holder .btn{
    float:left;
}
.add_purchase .ibox-title{
        min-height: 73px;
}
.add_purchase .ibox-title h2{
        width: fit-content;
    float: right;
}
.add_purchase .add-btn{
    float:left;
}
.finelump{
    background-color: #f4f6fa;
    padding: 36px 58px;
    margin: 10px 0 !important;
    color: #3e2b42;
}
.finelump .row{
        padding: 6px 74px;
}
.finelump table{
    width: 100% !important;
}
.finelump h5{
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 200;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
        width: 9%;
}
td.font-bold{
    width: 15% !important;
}
.view_details table {
     background-color: #f4f6fa;
    margin-bottom: 36px;
}
.view_details h2{
        color: #e89a40;
}
.view_details .ibox-content {
    background-color: #f4f6fa;}

.skin-3 .navbar-static-top {
    background: #e89a40;}

.skin-3 .navbar-right > li > a {
    color: #ffffff;
}
.view_details .ibox-title {
        background: url(/static/img/header.png);
    background-size: cover;
}
.currency_align{
    direction: ltr;
    text-align: right;
}
.bolder{
  font-weight: bold;
}

/***********select2*************/
/*.modal-lg{*/
    /*z-index:10090;*/
/*}*/
/*span.select2-container {*/
    /*z-index:10050;*/
/*}*/
.select2-dropdown {
  z-index: 10060 !important;/*1051;*/
}
.select2-container{
    width: 100% !important;
}
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single{
    border: 1px solid #e5e6e7 !important;
     border-radius: 0px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered,
.select2-results__option{text-align: right}


.btn-action td{
    border:none !important;
}
.btn-darkblue{
    background: #5046a0;
    color: aliceblue;
    border-color: #5147a0;
}
.btn-lightblue{
        background: #9589f7;
    color: white;
    border-color: #9589f7;
}
.btn-lightpurple{
        background: #bb41de;
    color: aliceblue;
    border-color: #bb42de;
}
.btn-purple{
        background: #891da7;
    color: aliceblue;
    border-color: #891ea7;
}
.btn-darkpurple{
        background: #4b0e5d;
    color: aliceblue;
    border-color: #4b0e5d;
}
th{text-align: center}
.invoice-table > tbody > tr > td ,.invoice-table > thead > tr > th {
    text-align: center !important;
}