.add-row, .delete-row {

    font-size: 25px;
}

.delete-row {
    color: #F0687E;
}

.delete-row:hover {
    color: #E55A72;
}

input[type=file] {
    display: inline !important;
}

tr td:last-child input[type=file] {
    width: 90%;
}

tr td:last-child input[type=text] {
    width: 98%;
    display: inline;
}

tr td, tr th {
    padding: 5px 10px;
}

table {
    width: 83%;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #cbcbcc;
    opacity: 1;
}

#sgs_set-0-row td {
    width: 85px;
}

#id_sgs_set-0-type {
    border: none
}

.ibox-content {
    /*background-color: #38273c;*/
}

.hr-line-dashed {
    border-top: 1px dashed #3f2b43;
    color: #ffffff;
    background-color: #75577b;
    height: 1px;
    margin: 20px 0;
}

.btn-primary {

    border-color: #f4f6fa;

}

.ibox-title {

    background-color: #39273d;
    border-color: #3a273f;

    color: #e3c8ea;
}

.ibox-content {

    border-color: #3a273f;
}