{% if is_initial %}
    {% if preview %}
        <a data-lightbox="test" href="{{ widget.value.url }}">
    {% endif %}
    <img src="{{ widget.value.url }}" width="{{ image_width }}">
    {% if preview %}
        </a>
    {% endif %}

    {% if not widget.required %}
<input type="checkbox" name="{{ checkbox_name }}" id="{{ checkbox_id }}" />
<label for="{{ checkbox_id }}">{{ clear_checkbox_label }}</label>{% endif %}<br />
{{ input_text }}:{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}" {% if accept %}accept="{{ accept }}"{% endif %}/>

