{% if is_initial %}{{ initial_text }}:
    <img src="{{ widget.value.url }}" alt="{{ widget.value }}" class="img-responsive" style="width: 100px">
    {% if not widget.required %}
        <input type="checkbox" name="{{ checkbox_name }}" id="{{ checkbox_id }}"/>
        <label for="{{ checkbox_id }}">{{ clear_checkbox_label }}</label>{% endif %}<br/>
    {{ input_text }}:{% endif %}
<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "partials/base/forms/attrs.html" %} />
