{% if wrap_label %}
    <label{% if widget.attrs.id %} for="{{ widget.attrs.id }}"{% endif %}>
{% endif %}
{% if widget.type == 'checkbox' %}
     <div class="i-checks">
        <label>
        <input type="checkbox" name="{{ widget.name }}" {% if widget.value != None %}
               value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "partials/base/forms/attrs.html" %}>
        <i></i> {{ widget.label }} </label>
    </div>
{% else %}
{% include "partials/base/forms/input.html" %}
{% if wrap_label %} {{ widget.label }}</label>{% endif %}
{% endif %}
