{% load common_template_tags %}
{% load widget_tweaks %}
<div {% if field.field.widget.is_hidden|is_true or  field.field.widget.hidden|is_true %}
    style="display: none" {% endif %} class="form-group {% if field.errors %}has-error{% endif %}">
    <label for="" class="col-sm-2 control-label">{{ field.label }}
        {% if field.field.required %}
            <span class="required_field">*</span>
        {% endif %}
    </label>
    <div class="col-sm-10">
        {{ field|add_class:"form-control" }}
        {% if field.help_text %}
            <span class="help-block m-b-none">{{ field.help_text }}</span>
        {% endif %}
        {% if field.errors %}
            <span class="help-block m-b-none" style="color: #ff0000;">
        {% for err in field.errors %}
            {{ err }}
        {% endfor %}
        </span>
        {% endif %}
    </div>
</div>