{% extends "base/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}
{% load account_template_tags %}
{% load common_template_tags %}
{% block BOTTOM_CSS %}
    <link href="{% static "css/plugin/dataTables/datatables.min.css" %}" rel="stylesheet">
    <link href="{% static "css/plugin/select2/select2.min.css" %}" rel="stylesheet">
    <link href="{% static "css/plugin/iCheck/custom.css" %}" rel="stylesheet">

    <link href="{% static "css/plugin/datapicker/datepicker3.css" %}" rel="stylesheet">
    <link href="{% static "css/plugin/jalaliDatepicker/bootstrap-datepicker.min.css" %}" rel="stylesheet">


    <link href="{% static "css/plugin/sweetalert/sweetalert.css" %}" rel="stylesheet">
    {#    TODO formset????#}
    <link href="{% static "css/plugin/formset/formset.css" %}" rel="stylesheet">
    <link href="{% static "css/datepicker_override.css" %}" rel="stylesheet">
{% endblock %}
{% block TITLE %}
    {{ manager.manager_title }}
{% endblock %}
{% block CONTENT %}
    {% if manager.manager_guide %}
        <div class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <i class="fa fa-info-circle" style="font-size: 24px; float: right; margin-left: 10px;"></i>
            <p style="margin-top: 5px;">{{ manager.manager_guide }}</p>
        </div>
    {% endif %}
    {% if manager.filter_form %}
        <div class="ibox-content m-b-sm border-bottom filter_form">
            <div class="row">
                {% include "partials/base/notif/messages.html" %}
                <form id="filter_form_top" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group">
                        {% for field in manager.filter_form %}
                            <div class="col-sm-1" style="margin-top: 5px;">{{ field.label }}:</div>
                            <div class="col-sm-3">
                                {{ field|add_class:"form-control" }}
                                <span class="help-block m-b-none">{{ field.help_text }}</span>
                            </div>
                            {% cycle '' '' '</div><div class="form-group">' %}
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="form-group col-md-12" style="text-align: right">
                    <button type="submit" class="btn btn-outline btn-primary btn-w-m "
                            name="search_filter">{% trans "Search" %}</button>
                    <button type="reset"
                            class="btn btn-outline btn-danger btn-w-m filter_reset">{% trans "Empty fields" %}</button>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <div id="top_actions"></div>
                    <table class="table table-striped table-bordered table-hover dataTables-example"
                           id="manager_grid">
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/base/_modal.html' %}
{% endblock %}
{% block BOTTOM_JS %}
    {{ block.super }}
    <script src="{% static "js/plugin/iCheck/icheck.min.js" %}"></script>
    <script src="{% static "js/plugin/select2/select2.full.min.js" %}"></script>
    {% if jalali_date_picker|is_true %}
        <script src="{% static "js/plugin/jalaliDatepicker/bootstrap-datepicker.min.js" %}"></script>
        <script src="{% static "js/plugin/jalaliDatepicker/bootstrap-datepicker.fa.min.js" %}"></script>
    {% else %}
        <script src="{% static "js/plugin/datapicker/bootstrap-datepicker.js" %}"></script>
    {% endif %}
    <script src="{% static "js/plugin/sweetalert/sweetalert.min.js" %}"></script>
    <script src="{% static "js/plugin/formset/jquery.formset.js" %}"></script>
    <script src="{% static "js/forms.js" %}"></script>
    <script>
        $(document).ready(function () {
            $('.filter_form input').on('keypress', function (e) {
                if (e.keyCode == 13) {
                    $('button[name="search_filter"]').click()
                }
            });

            $('.filter_reset').on('click', function () {
                $(this).parents('.filter_form').find('input[type!=submit][type!=hidden][type!=checkbox]').val("");
                $(this).parents('.filter_form').find('input[type=checkbox]').attr('checked', false);
                $(this).parents('.filter_form').find('select').val("");
                $(this).parents('.filter_form').find('.select2-container').select2('val', '');
                $(this).parents('.filter_form').find('.icheckbox_square-green').removeClass('checked');
                return false;
            });

            var serilize_form = '';
            var $manager = $('#manager_grid');
            var cols = [];
            var $application_type = "{% get_application_type  request %}";
            if ($application_type == 'None') {
                $application_type == '0';
            }
            {% for column in manager.columns %}
                var temp = {};
                temp['title'] = '{{ column.column_title }}';
                temp['data'] = '{{ column.column_name }}';
                temp['width'] = '{{ column.column_width }}';
                cols.push(temp);
            {% endfor %}
            console.log(cols);
            $manager.DataTable({
                    {# TODO translation #}
                    "language": {
                        "sEmptyTable": "هیچ داده ای در جدول وجود ندارد",
                        "sInfo": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                        "sInfoEmpty": "نمایش 0 تا 0 از 0 رکورد",
                        "sInfoFiltered": "(فیلتر شده از _MAX_ رکورد)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ",",
                        "sLengthMenu": "نمایش _MENU_ رکورد",
                        "sLoadingRecords": "در حال بارگزاری...",
                        "sProcessing": "در حال پردازش...",
                        "sSearch": "جستجو:",
                        "sZeroRecords": "رکوردی با این مشخصات پیدا نشد",
                        "oPaginate": {
                            "sFirst": "ابتدا",
                            "sLast": "انتها",
                            "sNext": "بعدی",
                            "sPrevious": "قبلی"
                        },
                        "oAria": {
                            "sSortAscending": ": فعال سازی نمایش به صورت صعودی",
                            "sSortDescending": ": فعال سازی نمایش به صورت نزولی"
                        }
                    },
                    "autoWidth": false,
                    "info": false,
                    "processing": false,
                    "serverSide": true,
                    "pageLength": {{ manager.data_per_page }},
                    "paging": true,
                    "searching": false,
                    "bLengthChange": false,
                    {#                    "sPaginationType": "full_numbers",#}
                    "bSort": false,
                    "columnDefs": [
                        {"className": "dt-center", "targets": "_all"}
                    ],
                    "ajax": {
                        {#                        url: "/{{ manager.manager_name }}/actions/?t=json",#}
                        type: "GET",
                        data: function () {
                            var info = $manager.DataTable().page.info();
                            console.log(info);
                            $('#manager_grid').DataTable().ajax.url(
                            "/{{ manager.manager_name }}/actions/?t=json&a="+$application_type+"&page=" + (info.page + 1) + "&" + serilize_form
                        );
                        }
                    },
                    columns: cols
                }
            );

            $('button[name="search_filter"]').on('click', function (e) {
                serilize_form = $('#filter_form_top').serialize();
                $('#manager_grid').DataTable().ajax.reload();
                return false;
            });

            var $top_actions = $('#top_actions');
            {% for action in manager.top_actions %}
                {% if action|check_access:request %}
                    $top_actions.append("<button is_popup={{ action.is_popup }} new_tab={{ action.new_tab }} is_view={{ action.is_view }} name='action-{{ action.action_name }}' id='action-{{ action.action_name }}' class='action-button btn btn-w-m {{ action.button_class }} '>{{ action.action_title }}</button>");
                {% endif %}
            {% endfor %}

            $('.action-button').on('click', function (e) {
                action_click($(this));
            });

            $('#manager_grid tbody').on('click', 'button', function () {
                action_click($(this));
            });
            $(document).on("click", ".submit-button", function (event) {
                var $form = $('.form-modal');
                $('input').prop("disabled", false);
                $.ajax({
                    type: $form.attr('method'),
                    url: $form.attr('action'),
                    {#                    data: $form.serialize(),#}
                    data: new FormData($form[0]),
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data, status) {
                        if (typeof data === "object") {
                            var $toast = toastr[data.status](data.msg);
                            $('#myModal').modal('hide');
                            $('.modal-content').html("");
                            $('button[name="search_filter"]').click();
                        }
                        else {
                            $(".modal-content").html(data);
                        }
                    }
                });
                return false;
            });

            function action_click(dom) {
                var $name = dom.attr('name').substring(7);
                var $id = dom.attr('id').substring(7);
                var $is_popup = dom.attr('is_popup');
                var $new_tab = dom.attr('new_tab');
                var $is_view = dom.attr('is_view');
                var $confirm_message = dom.attr('confirm_message');
                var $help_message = dom.attr('help_message');
                var $target = "_self";
                var $spc_url = dom.attr('spc_url');
                url = "/{{ manager.manager_name }}/actions/?t=action&n=" + $name + "&i=" + $id;
                if ($is_popup == "False") {
                    if ($new_tab == "True")
                        $target = "_blank";
                    if ($spc_url)
                        url = $spc_url + $id;
                    window.open(url, $target);
                }
                else {
                    if ($is_view == "False") {
                        swal({
                            title: $confirm_message,
                            text: $help_message,
                            icon: "warning",
                            buttons: ["{% trans 'No' %}", "{% trans 'Yes' %}"],
                        })
                            .then((willDelete) => {
                                if (willDelete) {
                                    $.ajax({
                                        type: "GET",
                                        url: url,
                                        cache: false,
                                        success: function (data, status) {
                                            var $toast = toastr[data.status](data.msg);
                                            $('button[name="search_filter"]').click();
                                        }
                                    });
                                } else {
                                    swal({
                                        title: "{% trans 'Operation canceled!' %}",
                                        icon: "error"
                                    });
                                }
                            });
                    }
                    else {
                        $(".modal-content").load(url, function () { // load the url into the modal
                            $('#myModal').modal('show'); // display the modal on url load
                        });
                    }
                }
            }
        });
    </script>
{% endblock %}