.add-row, .delete-row {

    font-size: 25px;
}

.delete-row {
    color: #F0687E;
}

.delete-row:hover {
    color: #E55A72;
}

input[type=file] {
    display: inline !important;
}

tr td:last-child input[type=file] {
    width: 90%;
}

tr td:last-child input[type=text] {
    width: 98%;
    display: inline;
}

tr td, tr th {
    padding: 5px 10px;
}

table {
    width: 83%;
}