.middle-box h1 {
    font-size: 54px !important;
}

.logo-name {
    letter-spacing: 0px !important;
}
.required_field {
    color: red;
    font-size: 12px;
    vertical-align: top;
}
.float-e-margins .btn {
     margin-bottom: 0px !important;
}
.btn-info {
    /*background-color: #8f1414;*/
    /*border-color: #8f1414;*/
    background-color: #59003c;
    border-color:#59003c;
    color: #FFFFFF;
    transition: all .5s;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info, .btn-info:active:focus, .btn-info:active:hover, .btn-info.active:hover, .btn-info.active:focus {
    background-color: #780151;
    border-color: #780151;
    color: #FFFFFF;
}

.nav > li > a i {
    margin-left: 6px;
}

.pace .pace-progress {
    background: #38283c;
}
