{% extends 'base/base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block TITLE %}{{ title }}{% endblock %}
{% block CONTENT %}
{#    {% if ships %}#}
{#        <div class="row">#}
{#            <div class="alert alert-info alert-dismissable">#}
{#                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>#}
{#                <ul>#}
{#                    {% for ship in ships %}#}
{#                        <li>#}
{#                            {% blocktrans with name=ship.name id=ship.id %}Ship {{ name }} is not complete. Please fill out the information.{% endblocktrans %}#}
{#                        </li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    {% endif %}#}
{#    <div class="row">#}
{#        <div class="col-lg-2"></div>#}
{#        <div class="col-lg-2">#}
{#            <div class="widget lazur-bg p-lg text-center">#}
{#                <div class="m-b-md">#}
{#                    <i class="fa fa-shopping-cart fa-4x"></i>#}
{#                    <h1 class="m-xs"><a style="color: white;" href="/purchase_working"> {{ purchase }}</a></h1>#}
{#                    <h3 class="font-bold no-margins">#}
{#                        {% trans "Deal projects" %}#}
{#                    </h3>#}
{#                    <a href="{% url 'add_purchase' %}" style="color: white;margin-top: 10px;">#}
{#                        <small>{% trans "New project" %}</small>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-lg-2">#}
{#            <div class="widget yellow-bg p-lg text-center">#}
{#                <div class="m-b-md">#}
{#                    <i class="fa fa-gift fa-4x"></i>#}
{#                    <h1 class="m-xs">{{ sell }}</h1>#}
{#                    <h3 class="font-bold no-margins">#}
{#                        {% trans "Sales projects" %}#}
{#                    </h3>#}
{#                    <a href="{% url 'add_sell' %}" style="color: white;margin-top: 10px;">#}
{#                        <small>{% trans "New project" %}</small>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-lg-2">#}
{#            <div class="widget purple-bg p-lg text-center">#}
{#                <div class="m-b-md">#}
{#                    <i class="fa fa-users fa-4x"></i>#}
{#                    <h1 class="m-xs">{{ users }}</h1>#}
{#                    <h3 class="font-bold no-margins">#}
{#                        {% trans "Users" %}#}
{#                    </h3>#}
{#                    <a href="{% url 'process_main_page_user' %}" style="color: white;margin-top: 10px;">#}
{#                        <small>{% trans "New user" %}</small>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{##}
{#    </div>#}
{#    <div class="row">#}
{#        <div class="col-lg-2"></div>#}
{#        <div class="col-lg-2">#}
{#            <div class="widget grey-bg p-lg text-center">#}
{#                <div class="m-b-md">#}
{#                    <i class="fa fa-cubes fa-4x"></i>#}
{#                    <h1 class="m-xs">{{ customer }}</h1>#}
{#                    <h3 class="font-bold no-margins">#}
{#                        {% trans "Customers" %}#}
{#                    </h3>#}
{#                    <a href="{% url 'process_main_page_customer' %}" style="color: #676a6c;margin-top: 10px;">#}
{#                        <small>{% trans "New customer" %}</small>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-lg-2">#}
{#            <div class="widget grey-bg p-lg text-center">#}
{#                <div class="m-b-md">#}
{#                    <i class="fa fa-bank fa-4x"></i>#}
{#                    <h1 class="m-xs">{{ mine }}</h1>#}
{#                    <h3 class="font-bold no-margins">#}
{#                        {% trans "Active Mines" %}#}
{#                    </h3>#}
{#                    <a href="{% url 'process_main_page_mine' %}" style="color: #676a6c;margin-top: 10px;">#}
{#                        <small>{% trans "New Mine" %}</small>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-lg-2">#}
{#            <div class="widget grey-bg p-lg text-center">#}
{#                <div class="m-b-md">#}
{#                    <i class="fa fa-recycle fa-4x"></i>#}
{#                    <h1 class="m-xs">{{ product }}</h1>#}
{#                    <h3 class="font-bold no-margins">#}
{#                        {% trans "Products" %}#}
{#                    </h3>#}
{#                    <a href="{% url 'process_main_page_product' %}" style="color: #676a6c;margin-top: 10px;">#}
{#                        <small>{% trans "New product" %}</small>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#    </div>#}
{% endblock %}
