{% extends "base/base.html" %}
{% load i18n %}
{% load static %}
{% block CONTENT %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" style="direction: ltr">
                <div class="ibox-content">
                    {% if instance.invoice_type == 1 %}
                        {% include "invoice/_proforma_block.html" %}
                    {% else %}
                        {% include "invoice/_final_block_purchase.html" %}
                    {% endif %}
                    <div id="account_number">

                    </div>
                    <button class="btn btn-w-m action-button btn-primary vertical-btn"
                            data-url="{% url 'add_account_number' instance.id %}" id="action_btn_add_account_number"
                            name="action_add_account_number">Add account number<i class="fa fa-dollar"></i></button>
                    <div class="button_holder">
                        <a target="_blank" href="{% url 'download_invoice' instance.id %}"
                           class="btn btn-w-m btn-primary">{% trans "Save and download" %}</a>
                        {#                        <a href="{% url 'delete_invoice' instance.id %}"#}
                        {#                           class="btn btn-w-m btn-danger">{% trans "Cancel" %}</a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/base/_modal.html' %}

{% endblock %}

{% block BOTTOM_JS %}
    <script src="{% static "js/deal.js" %}"></script>

    <script>
        $(function () {
            $('body').on('click', '.vote-actions a .fa', function (e) {
                e.preventDefault();
                var $url = $(this).closest('a').data("url");
                $box = $(this).closest('.col-lg-12');
                console.log($url);
                swal({
                    title: "{% trans 'Are you sure you want to delete?' %}",
                    icon: "error",
                    buttons: ["{% trans 'No' %}", "{% trans 'Yes' %}"],
                }).then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            type: "GET",
                            url: $url,
                            cache: false,
                            success: function (data, status) {
                                var $toast = toastr[data.status](data.msg);
                                $box.remove();
                            }
                        });
                    } else {
                        swal({
                            title: "{% trans 'Operation canceled!' %}",
                            icon: "error"
                        });
                    }
                });
            });
        });
        $(document).ready(function () {
            $('#action_btn_add_account_number').on('click', function (e) {
                var $url = $(this).data("url");
                $(".modal-content").load($url, function () { // load the url into the modal
                    $('#myModal').modal('show'); // display the modal on url load
                });
            });
        });

    </script>
{% endblock %}